@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #111111;
  
  --animate-fade-out: fade-out 1s 3s ease-out forwards;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #111111;
    --color-foreground: #ffffff;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 80%;
}
